name: Apply Omni Manifests

on:
  push:
    branches: ["main"]
    paths:
      - "omni/**"
      - ".github/workflows/**"
  workflow_dispatch: {}

jobs:
  apply:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install omnictl
        run: |
          curl -sL https://talos.dev/install-omnictl | sh
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          omnictl --version

      - name: Apply Omni manifests
        env:
          OMNI_ENDPOINT: ${{ secrets.OMNI_ENDPOINT }}
          OMNI_SERVICE_ACCOUNT_KEY: ${{ secrets.OMNI_SERVICE_ACCOUNT_TOKEN }}
        run: |
          omnictl apply omni/
